.colorPickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;

  .sliderContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
      margin-right: 10px;
    }
  }

  .colorPalette {
    cursor: pointer;
    border: 1px solid #999;
  }

  .rgbLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0 0 0;
    font-size: 1.1em;

    span {
      font-weight: bold;
      color: #333333c4;
    }
  }

  .selectedColorPreview {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .brightnessSlider {
    cursor: pointer;
    width: 200px;
    accent-color: rgb(251, 251, 69)
  }
}
